<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>IDK</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='user-reg.css') }}">

    <script type="text/javascript">
      function OnSubmitForm()
      {
         var search = document.getElementById("searchtxt");
         if( x.trim() == "") {
 +          return false;
 +         }
         var str1 = "/courses/";
         document.searchform.action = str1.concat(search,"/");
         return true;
        }
    </script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid-orig">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">
            <img alt="Brand" src="{{ url_for('static',filename='img/letter-C-blue-icon.png') }}">
            </a>-->
            <a class="navbar-brand" href="/">CourseHelper</a>
        </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        </ul>
        <form id="searchform" class="navbar-form" role="search" onsubmit="return onSubmitSearch()">
          <div class="form-group" style="display: inline;">
            <input type="text"  id="searchtxt" class="form-control" placeholder="Search">
          </div>
            <button type="submit" class="btn-orig btn-default">Submit</button>
          </form>
          <form class="navbar-form navbar-right" role="logout" action="/logout">
            <div class="form-group">
              <button type="submit" class="btn-orig btn-default">Logout </button>
            </div>
          </form>
      </div>
      </nav>
      <script type="text/javascript">
      function onSubmitSearch()
      {
         var x = document.getElementById("searchtxt").value;
         if( x.trim() == "") {
          return false;
         }
         var str1 = "/courses/";
         var query = str1.concat(x);
         // console.log(query);
         document.getElementById("searchform").action = str1.concat(x,"/");
         return true;
        }
    </script>
    <div class="body-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="centering text-center">
            <div class="panel">
              <div class="panel-body">
                <h2> Welcome, {{username}} </h2>
                {% if courses %}
                Here are the courses you're following:
                <ul>
                {% for course in courses %}
                <li> <a href="/courses/{{course.courseid}}"> {{course.courseid}} </a></li>
                {% endfor %}
                {% else %}
                <br>
                You aren't currently following any courses. 
                {% endif %}
                </ul>
                </div>
                <!--<form id="logout" method="get" class="form-horizontal" action="/logout">
                  <div class="form-group">
                    <input type="submit" value="Logout">
                  </div>
                </form>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
