<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>IDK</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='user-reg.css') }}">

    <script type="text/javascript">
      function OnSubmitForm()
      {
         var search = document.getElementById("searchtxt");
         if( x.trim() == "") {
 +          return false;
 +         }
         var str1 = "/courses/";
         document.searchform.action = str1.concat(search,"/");
         return true;
        }
    </script>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid-orig">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">
            <img alt="Brand" src="{{ url_for('static',filename='img/letter-C-blue-icon.png') }}">
            </a>-->
            <a class="navbar-brand" href="/">CourseHelper</a>
        </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{ username }}<span class="sr-only">(current)</span></a></li>
        </ul>
        <form id="searchform" class="navbar-form" role="search" onsubmit="return onSubmitSearch()">
        <div class="form-group" style="display: inline;">
          <input type="text"  id="searchtxt" class="form-control" placeholder="Search">
        </div>
          <button type="submit" class="btn-orig btn-default">Submit</button>
        </form>
        <!--<form id="searchuserform" class="navbar-form" role="search" onsubmit="return onSubmitSearchUser()">
        <div class="form-group" style="display: inline;">
          <input type="text"  id="searchusertxt" class="form-control" placeholder="Search for Users">
        </div>
          <button type="submit" class="btn-orig btn-default">Submit</button>
        </form>-->
      <form class="navbar-form navbar-right" role="logout" action="/logout">
        <div class="form-group">
          <button type="submit" class="btn-orig btn-default">Logout </button>
        </div>
      </form>
      </div>
  </nav>
       <script type="text/javascript">

        function toggleFollow() {
          if (document.getElementById("followbtn").value=="Follow this user") {
            document.getElementById("followbtn").className = "btn-orig btn-sm btn-danger";
            document.getElementById("followbtn").value = "Unfollow this user";
          } else {
            document.getElementById("followbtn").className = "btn-orig btn-sm btn-success";
            document.getElementById("followbtn").value = "Follow this user";
          }
          return true;
        }
      function onSubmitSearch()
      {
         var x = document.getElementById("searchtxt").value;
         if( x.trim() == "") {
          return false;
         }
         var str1 = "/courses/";
         var query = str1.concat(x);
         // console.log(query);
         document.getElementById("searchform").action = str1.concat(x,"/");
         return true;
        }
        function onSubmitSearchUser()
      {
         var x = document.getElementById("searchusertxt").value;
         if( x.trim() == "") {
          return false;
         }
         var str1 = "/profiles/";
         var query = str1.concat(x);
         // console.log(query);
         document.getElementById("searchuserform").action = str1.concat(x,"/");
         return true;
        }
    </script>

      <div class="body-container">
      <div class="container-fluid-cr">
        <div class="row-fluid">
            <h1><u> This is {{ username}}'s profile page </u></h1>

            {% if following==True %}
             <form name="followform" action="/followuser" method="post">
              <div class="form-group">
                <input type="submit" class="btn-orig btn-danger btn-sm" value="Unfollow this user" id="followbtn" onclick="toggleFollow()">
                <input type="hidden" name="followeduser" value="{{ username }}">
                <input type="hidden" name="wantstofollow" value="false">
              </div>
            </form>
            {% else %}
            <form name="followform" action="/followuser" method="post">
              <div class="form-group">
                <input type="submit" class="btn-orig btn-success btn-sm" value="Follow this user" id="followbtn" onclick="toggleFollow()">
                <input type="hidden" name="followeduser" value="{{ username }}">
                <input type="hidden" name="wantstofollow" value="true">
              </div>
            </form>
            {% endif %}
            <br>

            {% if courses %}
            <h3> Here are the courses {{ username }} is following: </h3>
            <ul class="list-group col-md-4">
            {% for course in courses %}
              <a href="/courses/{{ course.courseid }}" class="list-group-item list-group-item-action"> {{ course.courseid }}</a>
            {% endfor %}
            </ul>
            {% else %}
            <h3> This user isn't following any courses. </h3>
            {% endif %}
        </div>
      </div>
    </body>