<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CourseHelper</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='user-reg.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">
            <img alt="Brand" src="{{ url_for('static',filename='img/letter-C-blue-icon.png') }}">
            </a>-->
            <a class="navbar-brand" href="#">CourseHelper</a>
        </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Login </a></li>
        <li class="active"><a href="#">Register<span class="sr-only">(current)</span></a></li></div>
        </ul>
        </div></nav>
    <!--<div class="body-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="centering text-center">
            <div class="panel">
              <div class="panel-body">
      <div align="center" class="body">
        <div align="center" class="user_reg">
          <h2>User Registration</h2>
          <div class="space"></div>
          <form id="reg" method="post" action="/add">
            <div class="main">
              <div class="content">
                <div>
                  <label>Username:</label>
                </div>
                <div>
                  <input type="text" name="user" id="user" class="textInput">
                </div>
              </div>
              <div class="content">
                <div>
                  <label>Password:</label>
                </div>
                <div>
                  <input type="password" name="pass" id="pass" class="textInput">
                </div>
                <div>
                  <label>Password Confirmation:</label>
                </div>
                <div>
                  <input type="password" name="pwConf" id="pass-cf" class="textInput">
                </div>
              </div>
              <div class="content">
                <div>
                  <label>Email Address:</label>
                </div>
                <div>
                  <input type="text" name="email" id="email" class="textInput">
                </div>
              </div>
              <br>
              <div class="content">
                <div>
                  <input type="submit" value="register">
                  <!--<button id="register" type="button" class="btn btn-default btn-lg">Register</button></a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
    </div></div></div>-->
    <div class="body-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="centering text-center">
            <div class="panel">
              <div class="panel-body">
        <h2>User Registration</h2><br>
        {% if error %}
              {{error}}
              {% endif %}<br><br>
                <form id="reg" method="post" class="form-horizontal" action="/add">
                  <div class="form-group">
                    <label class="col-md-4 control-label">Username</label>
                    <div class="col-md-6">
                      <input type="text" name="user" id="user" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Password</label>
                    <div class="col-md-6">
                      <input type="Password" name="pass" id="pass" class="form-control">
                    </div>
                  </div>
           <div class="form-group">
                    <label class="col-md-4 control-label">Password Confirmation</label>
                    <div class="col-md-6">
                      <input type="Password" name="pwConf" id="pass-cf" class="form-control">
                    </div>
                  </div>
          <div class="form-group">
                    <label class="col-md-4 control-label">Email Address</label>
                    <div class="col-md-6">
                      <input type="text" name="email" id="email" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
            <div class="content">
                <div>
                  <input type="submit" value="Register" class="btn btn-transp btn-lg">
                  <!--<button id="register" type="button" class="btn btn-default btn-lg">Register</button></a>-->
                </div>
              </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>